<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067351243752-vnu3kfldc4ttgvsb2tvhcbf4nk2lq82e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067351243752-vnu3kfldc4ttgvsb2tvhcbf4nk2lq82e</string>
	<key>API_KEY</key>
	<string>AIzaSyAbz3OpwQGlLhOyB3Hvs6KFZJIpad2iJUM</string>
	<key>GCM_SENDER_ID</key>
	<string>1067351243752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adnancobanoglu8.comp319-casino</string>
	<key>PROJECT_ID</key>
	<string>comp319-80500</string>
	<key>STORAGE_BUCKET</key>
	<string>comp319-80500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067351243752:ios:54f89279dec7dd6b51c25d</string>
</dict>
</plist>